<h1> Welcome to my webpage </h1>
<div class="profile">
<h1> Daniel Acevedo </h1>
<img src="Large_CoreLOGO.jpg">
<h2> I Manage Operations </h2>
</div>
<p> Issue at hand: How much to leverage Ruby... </p>
<a target="new" href="http://www.corerehabcenter.com">
  <h2> Read more about my company...</h2>
</a> 
<a target="new" href="http://twitter.com/dfaceved">
  <h2> I tweeted in the past</h2>
</a> 