.profile {
  background: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.profile h1 {
  font-size: 16px;
  text-transform: uppercase;
}


 html { 
  background: url('http://danielacevedo.smugmug.com/Scenery/i-3z7fs3n/0/XL/20140524_161314_HDR-XL.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }